.sidebar {
    width: 18%;
    min-height: 100vh;
    border: 1.5px solid #a9a9a9;
    border-top: 0;
    font-size: max(1vw,10px);
}

.sidebar-options {
    padding-top: 50px;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar-option {
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid #a9a9a9;
    border-right: 0;
    padding: 8px 10px;
    border-radius: 3px 0px 0px 3px;
    cursor: pointer;
    /* Fix Bootstrap overrides */
    color: #49557e !important;
    text-decoration: none !important;
    background-color: transparent;
}

.sidebar-option:hover {
    background-color: #fff0ed !important;
    border-color: tomato !important;
    color: tomato !important;
}

.sidebar-option.active {
    background-color: #fff0ed !important;
    border-color: tomato !important;
    color: tomato !important;
}

.sidebar-option p {
    color: #49557e;
    font-size: max(1vw, 14px);
    margin: 0;
}

.sidebar-option.active p {
    color: tomato;
}

.sidebar-option:hover p {
    color: tomato;
}

@media (max-width:900px) {
    .sidebar-option p {
        display: none;
    }
}